h6 {
  text-align: center;
  color: red;
}

.steper {
  background-color: #fafafa;
  min-height: 800px;
}

li {
  margin: 10px;
}

.icon {
  padding-top: 25px;
  padding-right: 10px;
}

.field {
  margin-top: 10px;
}

.btn-class {
  padding: 20px;
  margin: 10px;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}
