.card {
  display: block;
  background: #fafafa;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
